nushell/history.txt
nvim
lazygit
gh
nushell/history.txt
nushell/history.txt
nushell/starship.nu
nushell/zoxide.nu
hypr/scheme
hypr/custom.conf
yazi/plugins
windows/glaze/glazewm/errors.log
ghostty/themes/matugen
hypr/colors.conf
qmlt/Colors.qml
rofi/colors.rasi
zen/matugen.css
yazi/theme.toml
yazi/theme*
gtk-3.0/colors.css
gtk-4.0/colors.css
hypr/config.conf
custom.conf
starship.toml
nushell/plugin.msgpackz
