format = '''
$directory$git_branch$git_status
$character
'''

palette = 'colors'

[palettes.colors]
color1 = '0'
color2 = '1'
color3 = '2'
color4 = '3'
color5 = '4'
color6 = '5'
color7 = '6'
color8 = '7'
color9 = '8'

# Prompt symbols
[character]
vicmd_symbol   = "[  ](color1)"
success_symbol = "[  ](green)"
error_symbol   = "[  ?](red)"

[directory]
format = "[ ](fg:color1 bg:none)[ ](bg:color1 fg:color4)[ ](fg:color1 bg:none)[$path ](fg:color3 bg:none)"


[directory.substitutions]
"~"         = " "
".config"   = " "
"Documents" = "󰧮 "
"Downloads" = " "
"Music"     = " "
"Pictures"  = " "
"Github"    = " "

[git_branch]
format = "[](fg:color1 bg:none)[ ](bg:color1 fg:color2)[](fg:color1 bg:none)[ $branch](fg:color2) "
