@import "matugen.css";

/* modules import */
@import "zen-nebula/Nebula/modules/General-UI.css";
@import "zen-nebula/Nebula/modules/Sidebar.css";
@import "zen-nebula/Nebula/modules/Topbar-buttons.css";
@import "zen-nebula/Nebula/modules/URLbar.css";
@import "zen-nebula/Nebula/modules/Pinned-extensions.css";
@import "zen-nebula/Nebula/modules/Tabstyles.css";
@import "zen-nebula/Nebula/modules/Essentials.css";
/* @import "zen-nebula/Nebula/modules/Sound-icon.css"; */
@import "zen-nebula/Nebula/modules/Toolbar.css";
@import "zen-nebula/Nebula/modules/Miniplayer.css";
@import "zen-nebula/Nebula/modules/BetterPiP.css";
@import "zen-nebula/Nebula/modules/Animations(tabs).css";
@import "zen-nebula/Nebula/modules/Tabfolders.css";
@import "zen-nebula/Nebula/modules/Workspace-buttons.css";

/* config import */
@import "zen-nebula/Nebula/Nebula-config.css";


:root {
  --tab-selected-pinned-color: var(--secondary_container)!important;
  --tab-selected-color: var(--secondary_container);
  --zen-main-browser-background:color-mix(in srgb, var(--background), transparent 0%) !important;
  --zen-main-browser-background-toolbar: var(--zen-main-browser-background) ;
  --zen-colors-border-contrast: var(--secondary_container) !important;
}

.zen-essentials-container .tabbrowser-tab {
      @media (-moz-pref("zen.theme.essentials-favicon-bg")) {
      .tab-background::after {
        left:-40%  !important;
        top: -40% !important;
      }
    }
}

#titlebar{
  min-width:120px!important;
}
.tabbrowser-tab[selected=true] .tab-background{
  /* background: radial-gradient( */
  /*   var(--zen-primary-color), */
  /*   color-mix(in srgb, var(--zen-primary-color) 30%, transparent), */
  /*   transparent */
  /* ); */
}
body:has([zen-compact-mode="true"]) #titlebar {
  background:var(--zen-themed-toolbar-bg-transparent)!important;
  backdrop-filter: blur(32px) saturate(200%) !important; /* Smooth blur effect */
}
.zen-workspace-tabs-section .tabbrowser-tab .tab-stack .tab-background {
  &[selected] {
    border: .15rem solid var(--tab-selected-color) !important;
  }
}

tab-group[split-view-group]{
  tab{
    margin: 5px!important;
  }
  .tab-label-container
  {
      visibility: collapse!important;
  }
  .tabbrowser-tab .tab-stack .tab-background
  {
    border-radius: .7rem!important;
  }
  .tab-content
  {
    align-items:center;
    margin-left:auto;
    margin-right:auto;
  }
}

.titlebar-button{
  width: 5px!important;
  height: 5px!important;
  margin: 5px 2px !important;
  padding: 10px 10px!important;
  border-radius: 5px;
}
.titlebar-buttonbox{
  margin-right: 5px;
}
.titlebar-buttonbox-container[zen-has-hover]{
  opacity: 80%;
}
.titlebar-buttonbox-container{
  order: -1!important;
  opacity: 25%;
  .titlebar-close{
    order: 0!important;
  }
  .titlebar-max{
    order:1!important;
  }
  .titlebar-min{
    order:2!important;
  }
  .titlebar-restore{
    order:1!important;
  }
}


@-moz-document url("chrome://global/content/pictureinpicture/player.xhtml") {
  html {
    border: none !important;
    border-radius: 1rem !important;
  }
}
